@import './theme.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  color: var(--neutral-color-main);
  font-size: 14px;
  background-color: #f8f8f8;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
button {
  cursor: pointer;
  border: 1px solid var(--essential-color-red);
  border-radius: 22px;
  padding: 8px 24px;
  font-size: 14px;
}
.agree-btn {
  background: var(--essential-color-red);
  color: var(--neutral-color-white);
  border: none;
}
.cancel-btn {
  background: var(--neutral-color-white);
  color: var(--essential-color-red);
}
.bg-wt {
  background: #fff;
}
