:root {
  --essential-color-red: #f74346;
  --assist-color-green: #1dc779;
  --assist-color-orange: #ffb302;
  --neutral-color-main: #151515;
  --neutral-color-font: #888888;
  --neutral-color-white: #ffffff;
  --neutral-color-placeholder: #888;
  --neutral-color-background: #f8f8f8;
}
